@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  min-width: fit-content;
  font-weight: 200;
  line-height: 1.5rem;
  }
  body, html{
    margin:0;
    padding:0;
}
.loader {
  opacity: 0; 
  transition: opacity 0.5s ease;
}

/* Show loader */
body.loading .loader {
  opacity: 1;
}
html{ overflow-y: scroll;}

main {
  padding: 2rem;
}
  
h1, h2, h3 {
    font-weight: 600; 
    text-align: center;
    color: #EEEEEE;
} 

p {
  color: #76ABAE;
  font-weight: 500;
  line-height: 1.5rem
}

code {
  border-radius: 15px;
}

img { 
  object-fit:cover;
}


/* nav bar  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  background-color: #282c34;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.navbar .left, .navbar .center, .navbar .right {
  display: flex;
  flex-direction: row;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}
.navbar .center {
  flex-grow: 1;
  justify-content: center;
}
.navbar .right {
  justify-content: flex-end;
}

.navbar a:hover{
    border-bottom: 1px solid  #f0f0f0;
}

.navbarLogo {
  position: relative;
  left: -5px;
}

.socialIcons {
  margin: 2px;
  padding: 2px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}


/*  sections  */
.intro {
  text-align: center;
  background-color: #31363F;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  width : 100%;
}

.introRow {
  display: flex;
  max-width: fit-content;
  margin-inline: auto;

}

.introHeaders h1 {
  font-size: 2.5rem;
  color: #76ABAE;
}

.features {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #222831 ;
  min-height: 900px;
  padding-left : 50px;
  padding-right: 50px;
}

  
.content p {
    line-height: 1.6;
}
  
.code-example {
  padding: 1rem;
  border-radius: 8px; /* Rounded corners */
  background-color: #76ABAE;

}

.code-example pre {
  font-family: monospace;
  overflow-x: auto;
  white-space: pre-wrap;
}
  
  
.video-preview {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
}

.video-preview.light-theme {
  background-color: #fff;
  color: #000;
}

.video-preview.dark-theme {
  background-color: #222;
  color: #fff;
}

.video-preview img {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
}

/*  features showcase */

.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subtitle {
  text-align: center;
  color: #C0C0C0;
  font-style: italic;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  flex: 0 0 auto;
}
.model-header {
  font-size: 1.5em;
}
.expand-btn {
  background: none;
  border: none;
  color: #EEEEEE;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.expand-btn::after {
  color: #76ABAE;
}
.expandable-content {
  display: none;
  margin-top: 10px;
}
.expandable-content p {
  font-size: 1em;
  color: #B0B0B0;
  /* This timing applies on the way IN */
  transition-timing-function: ease-in-out;

  /* A litttttle slower on the way in */
  transition: 0.8s;
}
.code-section {
  border-radius: 15px;
  border: 1px solid #76ABAE;
  width: 400px;

}
.tabs {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.tab-btn {
  background: none;
  border: none;
  color: #B0B0B0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}
.tab-btn.active {
  color: #00B0FF;
  border-bottom: 2px solid #00B0FF;
}

pre {
  position: relative;
  background: none;
  border: none;
  color: #E8E8E8;
  font-size: 1em;
  white-space: pre-wrap;
  width: 450px;
  border-radius: 15px;
  left: 10px;
  top: 15px;
}


.documentation-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #00FF5F;
  color: #1D2733;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.controls {
  flex-direction: column;
  border-left: 3px solid #31363F;
  margin-top: 2px;
  margin-bottom: 2px;
  /* This timing applies on the way IN */
  transition-timing-function: ease-in-out;

  /* A litttttle slower on the way in */
  transition: 0.8s;
  
}

.examplesPara {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.examplesPara p {
  width: 700px;
}
.controlsActive {
  border-left: 3px solid #EEEEEE;
}

.featureParagraph {
  max-width: 400px;
  text-align: left;
  margin-left: 10px

}

.intro-btn-2 {
  background: inherit;
  color: #1D2733;
  border: 1px solid #76ABAE;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 3px;
  color: #EEEEEE;
}

.intro-btn-1 {
  background: #76ABAE;
  color: #1D2733;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 3px;
}

.intro-btn-1:hover {
  background: #5F9293; /* Slightly darker teal on hover */
}

/* Active Effect (while button is pressed) */
.intro-btn-1:active {
  background: #4D7677; /* Even darker teal when active */
}

.intro-btn-2:hover {
  background: #5F9293; /* Slightly darker teal on hover */
}

/* Active Effect (while button is pressed) */
.intro-btn-2:active {
  background: #4D7677; /* Even darker teal when active */
}


.codeWrapper {
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;

}

.sticky {
  position: static;
}

.codeWrapper-enter-active,
.codeWrapper-exit-active {
  visibility: visible; /* Show the card during the flip */
}

.codeWrapper-enter {
  transform: perspective(666px) rotateY(-90deg);
}

.codeWrapper-enter-active {
  transform: perspective(666px) rotateY(0deg);
  transition-delay: 0.2s;
}

.codeWrapper-exit {
  transform: perspective(1000px) rotateY(0deg);
}

.codeWrapper-exit-active {
  transform: perspective(1500px) rotateY(90deg);
}

footer {
  padding: 10px;
  text-align: center;
  font-size: large;
  background-color:  #76ABAE;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .code-example {
    grid-template-columns: 1fr; /* Stack code and preview */
  }
}

@media (max-width: 900px) {
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .introHeaders h1 {
    font-size: 2rem;
  }
  
  .container {
    width: 100%;
    padding: 10px;
  }

}

@media (max-width: 600px) {
  main {
    padding: 1rem;
  }

  .introHeaders h1 {
    font-size: 1.5rem;
  }

  .code-example {
    gap: 1rem;
    padding: 0.5rem;
  }

  .tabs {
    flex-direction: column;
  }

  .tab-btn {
    padding: 5px 10px;
  }

  .documentation-btn {
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
  }
}

/*  game of life css */


.gridcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #31363F;
  padding: 20px;
}
.grid {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(50, 1fr);
  border: 1px solid #31363F;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.cell {
  width: 10px;
  height: 10px;
  background-color: #76ABAE;
  border: 1px solid #d8dadf;
  cursor: pointer;
}

.cell.alive {
  background-color: black;
}


.btn {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #76ABAE;
  color: black;
  border: none;
  cursor: pointer;
  margin: 2px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* CSS */
.btn{
  align-items: center;
  background-color: #76ABAE;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  margin-left: 2px;
  margin-right: 2px;
  height: 30px;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.btn:hover {
  transform: translateY(-1px);
}

.btnactive {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


.controlsGameOfLife {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
